<launch>

    <include file="$(find horizon_navigation)/launch/velodyne_to_laserscan.launch"/>
<!--     <include file="$(find horizon_navigation)/launch/laserscan_merge.launch"/> -->

<!--     <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter"> -->
<!--       <rosparam command="load" file="$(find horizon_navigation)/config/filter_scan_params.yaml" /> -->
<!--       <remap from="scan" to="/VLP16_lidar_front/pointcloud_to_scan" /> -->
<!--       <remap from="scan_filtered" to="/VLP16_lidar_front/pointcloud_to_scan_filtered" /> -->
<!--     </node> -->

    <node pkg="tf" type="static_transform_publisher" name="VLP16_lidar_front_base_link_fake" args=" 0.8 0.8 0.0 0.0 0.0 0.0 VLP16_lidar_front_base_link VLP16_lidar_front_base_link_fake 100" />
<!--     <node pkg="tf" type="static_transform_publisher" name="VLP16_lidar_front_back_link_fake" args=" 0.5 0.5 0.0 0.0 0.0 0.0 VLP16_lidar_back_base_link VLP16_lidar_back_base_link_fake 100" /> -->

<!--   <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen"> -->
<!--     <remap from="scan" to="scan_filtered"/> -->
<!--     <param name="map_update_interval" value="5.0"/> -->
<!--   </node> -->

  <!-- Global Costmap -->
<!--   <node name="global_costmap" pkg="costmap_2d" type="costmap_2d_node" output="screen"> -->
<!--     <rosparam file="$(find your_package)/config/navigation_params/global_costmap_params.yaml" command="load"/> -->
<!--   </node> -->

<!--     <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" > -->
<!--       <rosparam file="$(find horizon_navigation)/config/local_costmap_params.yaml" command="load" ns="costmap" /> -->
<!--     </node> -->
  <!-- Local Costmap -->
  <!-- this node name cannot be "local_costmap" -->
    <node name="costmap" pkg="costmap_2d" type="costmap_2d_node" output="screen">
        <rosparam file="$(find horizon_navigation)/config/navigation_params/local_costmap_params.yaml" command="load" ns="costmap" />
        <rosparam file="$(find horizon_navigation)/config/navigation_params/costmap_common_params.yaml" command="load" ns="costmap" />
    </node>



  <!-- Other nodes (e.g., navigation stack, sensor nodes) -->
</launch>