<?xml version="1.0"?>
<launch>

    <include file="$(find horizon_navigation)/launch/sublaunch/costmap2d.launch"/> <!-- create a local map -->
  
    <node pkg="horizon_navigation" type="sonar_node" name="sonar_node" output="screen">
        <param name="config_file" type="string" value="$(find horizon_navigation)/config/sonar_config.yaml"/>
    </node>

</launch>
